<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. טיפול בקבצים סטטיים וקידוד UTF-8 לעברית תקינה -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <!-- 2. אפשרות מומלצת ראשונה: IIS Reverse Proxy עם URL Rewrite -->
    <!-- מפנה את כל התנועה שמגיעה לאתר ב-IIS אל פורט האפליקציה (ברירת מחדל 3000) -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- 3. אפשרות חלופית: iisnode (במידה ואיש ה-IT מעדיף להריץ דרך מודול iisnode) -->
    <!--
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;" 
      loggingEnabled="true"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
    -->

    <!-- הגדרות אבטחה -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
